/* #login-link {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #1d3557;
    color: #fff;
    text-align: center;
    text-decoration: none;
    height: 30px;
    padding-top: 12px;
}

#register-link {
    margin-bottom: 20px;
    background-color: #1d3557;
    color: #fff;
    text-decoration: none;
    height: 30px;
    padding-top: 12px;
}

#play-guest-link {
    margin-bottom: 20px;
    background-color: #1d3557;
    color: #fff;
    text-decoration: none;
    height: 30px;
    padding-top: 12px;
}

#leader-link {
    margin-bottom: 20px;
    background-color: #1d3557;
    color: #fff;
    text-decoration: none;
    height: 30px;
    padding-top: 12px;
    margin-bottom: 20px;

} */

/* #menu {
    display: block;
    max-width: 100%;
    margin: auto;
    width: 30%;

} */

/* .menu-item:hover {
    background-color: #457b9d;
}

.menu-item {
    display: block;
    padding-top: 50px;
    margin-top: 30px;
    background-color: #1d3557;
    color: white;
    height: 30px;
    padding-top: 12px;
    text-decoration: none;

} */