table {
    border: solid 1px #000;
}

td {
    border: solid 1px #000;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.activeColumn {
    border-color: coral;
}

.activeHint1 {
    border: solid 2px blue;
}

.activeHint2 {
    border: solid 2px red;
}

.activeWin {
    border: solid 2px forestgreen;
}

.activePlayer1 {
    color: blue;
    font-weight: bold;
}

.activePlayer2 {
    color: red;
    font-weight: bold;
}

.activeWinner {
    color: forestgreen;
    font-weight: bold;
}

div.player1_piece {
    background-color: blue;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

div.player2_piece {
    background-color: red;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}