@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300&display=swap');

:root {
    --color-player1: blue;
    --color-player2: red;
    --color-win: #39FF14;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #a8dadc;
    color: white;
    font-family: 'Abril Fatface', cursive;

}

table {
    border: solid 4px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3465f7;

}

td {
    border: 4px solid black;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    padding: 10px;
    background-color: #ffff;
}

.activeColumn {
    border-color: coral;
}

.activeHint1 {
    border: solid 2px var(--color-player1);
}

.activeHint2 {
    border: solid 2px var(--color-player2);
}

.activeWin {
    border: solid 2px var(--color-win);
}

.activePlayer1 {
    color: var(--color-player1);
    font-weight: bold;
}

.activePlayer2 {
    color: var(--color-player2);
    font-weight: bold;
}

.activeWinner {
    color: var(--color-win);
    font-weight: bold;
}

div.player1_piece {
    background-color: var(--color-player1);
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

div.player2_piece {
    background-color: var(--color-player2);
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

#connect-four {
    background-color: #e63946;
}

h1 {
    background-color: #e63946;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d3557;

}

li {
    float: left;
}

a {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 40px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #457b9d;
}

#app {
    max-width: 50%;
    margin: auto;
    text-align: center;
    height: 100%;
    background-color: #e63946;
    border-radius: 40px;


}

#menu {
    display: block;
    max-width: 100%;
    margin: auto;
    width: 30%;
}

.menu-item:hover {
    background-color: #457b9d;
}

.menu-item {
    display: block;
    padding-top: 50px;
    margin-top: 30px;
    background-color: #1d3557;
    color: white;
    height: 50px;
    padding: 3px;
    text-decoration: none;

}

.nav-bar {
    font-family: 'Abril Fatface', cursive;
}

#help-info {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
}

#help-info h3 {
    color: black;
    font-weight: bold;
}

main {}